.border{
    border: 1px solid black;
}
/* h1, p, h3{
    text-align: center;
} */
.h-50{
    height: 50px;
}
.h-100{
    height: 100px;
}
.h-200{
    height: 200px;
}
.h-300{
    height: 300px;
}
.h-400{
    height: 400px;
}
.box{
    margin:15px 0;
    background-color: red;
}
.b-blue{
    background-color: #2c3e50;
}
.b-green{
    background-color: #1abc9c;
}
footer{
    background-color: #3a546d;
}
.nav-personal{
    background-color: #2c3e50;
    margin-bottom: 0;
}
.nav-personal a{
    color: white;
}
.nav-personal .nav>li>a:hover{
    background-color: #3a546d;
}
.img-container{
    max-width: 200px;
}
.star{
    max-width: 35px;
}
.text-white{
    color: white;
}
.text-green{
    color: #1abc9c;
}
.linea{
    height: 1px;
    border: 1px solid white;
    width: 20%;
    /* display: inline-block; */
}
.prova{
    vertical-align: middle;
    display: inline-block;
}
.border-black{
    border: 1px solid black;
}
.row-small{
    max-width: 992px;
}
.form-control{
    border-top: none;
    border-left: none;
    border-right: none;
    box-shadow: none;
    border-radius: 0;
}
.bot{
    border: 0;
}
.btn-download{
    /* margin: 10px 0; */
    border: 1px solid white;
}
section{
    padding: 35px 0;
}
.btn-circle{
    border-radius: 50%;
    background-color: #3a546d;
    margin: 0 5px;
}
.social{
    margin: auto;
}
.btn-hamb{
    background-color: #2c3e50;
    border: 1px solid white;
}
.btn-hamb .icon-bar{
    background-color: white;
}